{% extends 'base.html' %}
{% load static %}

{% block title %}
  Base
{% endblock %}

{% block css %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'common/mdl/material.min.css' %}">
  <link rel="stylesheet" href="{% static 'testapp/css/base_home.css' %}">
  <link rel="stylesheet" href="{% static 'common/vocat/css/vocat_color.css' %}">
  <style>
    .demo-layout-transparent {
      background: url('{% static 'common/vocat/img/bg_main.png' %}') center / cover;
      position: absolute;
    }
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
      color: white;
    }
    .demo-layout__header-row {
      padding: 0 16px;
    }
    .demo-footer {
      background: transparent;
      text-align: center;
      padding: 16px;
    }
  </style>
{% endblock %}

{% block body %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="demo-layout__header-row mdl-layout__header-row">
        <!-- Title -->
        <a class="mdl-layout-title" href="{% url 'testapp:home' %}" style="text-decoration: none;color:white;">
          <img src="{% static 'common/vocat/img/logo_light_notext.png' %}" width="21" height="21"/>
          <span>vocat</span>
        </a>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">자세히 알아보기</a>
          <a class="mdl-navigation__link" href="{% url 'accounts:login' %}">로그인</a>
          <a class="mdl-navigation__link" href="{% url 'accounts:registration' %}" style="border: 1px solid;height: 45px;line-height: 45px;">회원가입</a>
        </nav>
      </div>
    </header>

    <main class="mdl-layout__content">
      {% block content %}
      {% endblock %}
    </main>

    <footer class="demo-footer mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">© 2016 Vocat, Inc.</div>
      </div>
      <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </div>


{% endblock %}

{% block js %}
  <script src="{% static 'common/mdl/material.min.js' %}"></script>
{% endblock %}