<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,
    maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="vocabulary, word, memorize,
    application, app, android, ios">
<meta name="description" content="Simple and powerful vocabulary app">
<meta name="author" content="Vocat">
{#<link rel="icon" href="">#}
<title>{% block title %}{% endblock %} | Vocat</title>
{% load static %}

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="{% static 'common/vocat/img/logo_light_v.png' %}}">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Vocat">
<link rel="apple-touch-icon-precomposed" href="{% static 'common/vocat/img/logo_light_v.png' %}">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="{% static 'common/vocat/img/logo_light_v.png' %}">
<meta name="msapplication-TileColor" content="#3372DF">

<link rel="icon" href="{% static 'common/vocat/img/logo_light_v.png' %}" type="image/png" />
{% block css %}{% endblock %}
{% block head %}{% endblock %}

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72572255-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
{% block prebody %}{% endblock %}
<body>
{% block body %}{% endblock %}
{% block js %}{% endblock %}
</body>
{% block postbody %}{% endblock %}
</html>