{% extends 'base.html' %}
{% load static %}

{% block title %}
Base
{% endblock %}

{% block css %}
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'common/mdl/material.min.css' %}">
<link rel="stylesheet" href="{% static 'testapp/css/base_mainapp.css' %}">
<link rel="stylesheet" href="{% static 'common/vocat/css/vocat_color.css' %}">
{% endblock %}

{% block body %}
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="demo-header mdl-layout__header vocat-bg--primary">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-title">
        <img src="{% static 'common/vocat/img/logo_light_notext.png' %}" width="21" height="21"/>
        {% block title_menu %}{% endblock %}
      </div>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">About</li>
        <li class="mdl-menu__item">Contact</li>
        <li class="mdl-menu__item">Legal information</li>
      </ul>
    </div>
  </header>
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
      <img src="{% static 'testapp/img/ic_user.png' %}" class="demo-avatar">
      <div><span>{{ request.user.name }}</span></div>
      <div class="demo-avatar-dropdown">
        <span>{{ request.user.email }}</span>
        <div class="mdl-layout-spacer"></div>
        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">arrow_drop_down</i>
          <span class="visuallyhidden">Accounts</span>
        </button>
        <div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
          <a class="mdl-menu__item" href="{% url 'accounts:profile_detail' %}">Profile</a>
          <a class="mdl-menu__item" href="{% url 'accounts:logout' %}">Logout</a>
          <a class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</a>
        </div>
      </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--white">
      <a class="mdl-navigation__link {% if request.resolver_match.url_name == "home" %}active{% endif %}" href="{% url 'testapp:home' %}"><i class="material-icons" role="presentation">home</i>홈</a>
      <a class="mdl-navigation__link {% if request.resolver_match.url_name == "knowhow_feed" %}active{% endif %}" href=""><i class="material-icons" role="presentation">inbox</i>노하우 피드</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">delete</i>스터디</a>
      <a class="mdl-navigation__link {% if request.resolver_match.url_name == "book-list" %}active{% endif %}" href="{% url 'testapp:book-list' %}"><i class="material-icons" role="presentation">report</i>단어책</a>
      <a class="mdl-navigation__link {% if request.resolver_match.url_name == "book-market" %}active{% endif %}" href="{% url 'testapp:book-market' %}"><i class="material-icons" role="presentation">forum</i>북마켓</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">flag</i>Account</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">local_offer</i>Settings</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">shopping_cart</i>Send feedback</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">people</i>Social</a>
      <div class="mdl-layout-spacer"></div>
    </nav>
    <div class="legal mdl-color--white">
      <p class="copyright">Vocat ©</p>
      <a href="/">Privacy</a> &amp; <a href="/">Terms</a>
    </div>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    {% block content %}
    {% endblock %}
  </main>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'common/mdl/material.min.js' %}"></script>
<script src="{% static 'common/jquery/jquery-1.12.0.min.js' %}"></script>
{% block js2 %}
{% endblock %}
{% endblock %}
