{% extends 'base.html' %}

{% block body %}

<form action="{{ app_path }}" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input id="file" name="file" type="file" accept=".csv" /> <br><br>
    <input type="submit" />
</form>

{% endblock %}
