{% extends 'testapp/base_mainapp.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}단어책{% endblock %}
{% block title_menu %}단어책{% endblock %}



{% block content %}
<div style="max-width:900px; margin:0 auto; padding:60px 10px;">
  <h4>내가 보유한 단어책</h4>
  <div style="margin-bottom:5px; text-align:right;">
    <a id="tt1" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      책 만들기
    </a>
    <div class="mdl-tooltip" for="tt1">내 단어 책을 만들 수 있습니다.</div>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%;">
    <colgroup>
      <col span="1" style="width:65%;">
      <col span="1" style="width:5%;">
      <col span="1" style="width:10%;">
      <col span="1" style="width:5%;">
      <col span="1" style="width:5%;">
      <col span="1" style="width:5%;">
      <col span="1" style="width:5%;">
    </colgroup>
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">책 이름</th>
        <th>단어</th>
        <th class="mdl-data-table__cell--non-numeric">만든이</th>
        <th>추천</th>
        <th>비추천</th>
        <th class="mdl-data-table__cell--non-numeric">날짜</th>
        <th class="mdl-data-table__cell--non-numeric">메뉴</th>
      </tr>
    </thead>
    <tbody>
      {% for book in data %}
        {% if book.is_public == False %}
        <tr id="book-row-{{ book.id }}">
          <td class="mdl-data-table__cell--non-numeric">{{ book.title }}</td>
          <td>{{ book.vocab_count }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ book.creator.name }}</td>
          <td>{{ book.likes|length }}</td>
          <td>{{ book.dislikes|length }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ book.date_created|naturalday }}</td>
          <td class="mdl-data-table__cell--non-numeric">
            <button id="book-menu-{{ book.id }}"
                    class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="book-menu-{{ book.id }}">
              <li disabled class="mdl-menu__item">{{ book.title }}</li>
              <li class="mdl-menu__item" onclick="getBook({{ book.id }})">보기</li>
              <li class="mdl-menu__item">수정</li>
              <li class="mdl-menu__item" onclick="deleteBook({{ book.id }}, '{{ book.title }}')">삭제</li>
            </ul>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <div style="height:60px;"></div>
  <h4>북마켓에 공유한 책</h4>
  <div style="margin-bottom:5px; text-align:right;">
    <a id="tt2" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      책 올리기
    </a>
    <div class="mdl-tooltip" for="tt2">내 단어 책을 공유할 수 있습니다.</div>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%;">
    <colgroup>
      <col span="1" style="width:65%;">
      <col span="1" style="width:5%;">
      <col span="1" style="width:10%;">
      <col span="1" style="width:5%;">
      <col span="1" style="width:5%;">
      <col span="1" style="width:5%;">
      <col span="1" style="width:5%;">
    </colgroup>
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">책 이름</th>
        <th>단어</th>
        <th class="mdl-data-table__cell--non-numeric">만든이</th>
        <th>추천</th>
        <th>비추천</th>
        <th class="mdl-data-table__cell--non-numeric">날짜</th>
        <th class="mdl-data-table__cell--non-numeric">메뉴</th>
      </tr>
    </thead>
    <tbody>
      {% for book in data %}
        {% if book.is_public == True %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{ book.title }}</td>
          <td>{{ book.vocab_count }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ book.creator.name }}</td>
          <td>{{ book.likes|length }}</td>
          <td>{{ book.dislikes|length }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ book.date_created|naturalday }}</td>
          <td class="mdl-data-table__cell--non-numeric">
            <button id="book-{{ book.id }}-action"
                    class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="book-{{ book.id }}-action">
              <li disabled class="mdl-menu__item">{{ book.title }}</li>
              <li class="mdl-menu__item" onclick="getBook({{ book.id }})">보기</li>
              <li class="mdl-menu__item">수정</li>
              <li class="mdl-menu__item" onclick="deleteBook({{ book.id }}, '{{ book.title }}')">삭제</li>
            </ul>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block js2 %}
<script src="{% static 'testapp/js/books.js' %}"></script>
{% endblock %}