{% extends 'base_home.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Home{% endblock %}


{% block content %}
  <!-- Wide card with share menu button -->
  <style>
    .demo-card-wide.mdl-card {
      width: 100%;
    }
    .demo-card-wide > .mdl-card__title {
      color: #000;
      height: 60px;
      border-bottom: 1px solid #e5e5e5;
    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
  </style>

  <div style="max-width:600px; margin:0 auto; padding:60px 10px;">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">vocat</h2>
      </div>
      <div class="mdl-card__supporting-text">
        n. 심플하고 강력한 단어암기 앱<br><br>
        예문<br>
        Sign in or register to vocat.<br>
        보캣에 <a href="{% url 'accounts:login' %}">로그인</a> 하거나 <a href="{% url 'accounts:registration' %}">회원가입</a>하세요.<br><br>
        {{ data|intcomma }} people are using vocat already.<br>
        이미 <a>{{ data|intcomma }}명</a>이 보캣을 사용하고 있습니다.<br><br>
        Vocat is also available on Google Play Store.<br>
        보캣은 <a>구글 플레이스토어</a>에서도 만나볼 수 있습니다.
      </div>
      <div class="mdl-card__actions mdl-card--border">

        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          보캣에 대해서 자세히 알아보기
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
        <div class="fb-like" data-href="https://www.facebook.com/vocatapp/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
    </div>
  </div>
{% endblock %}

