{% extends 'base_home.html' %}
{% load staticfiles %}
{% load i18n admin_static %}
{% block title %}Logged out{% endblock %}


{% block content %}
  <!-- Wide card with share menu button -->
  <style>
    .demo-card-wide.mdl-card {
      width: 100%;
    }
    .demo-card-wide > .mdl-card__title {
      color: #000;
      height: 60px;
      border-bottom: 1px solid #e5e5e5;
    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
  </style>

  <div style="max-width:400px; margin:0 auto; padding:60px 10px;">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">로그아웃</h2>
      </div>
      <div class="mdl-card__supporting-text" style="text-align:center;">
        <a href="{% url 'accounts:home' %}">홈으로</a>
        <p>보캣과 함께해 주셔서 감사합니다.</p>
        <p>{% trans "Thanks for spending some quality time with vocat today." %}</p>
        <p><a href="{% url 'accounts:login' %}">다시 로그인 하기</a></p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button vocat-color--primary" href="{% url 'accounts:login' %}" style="float:right;">
          다시 로그인하기
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
        <div class="fb-like" data-href="https://www.facebook.com/vocatapp/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
    </div>
  </div>

{% endblock %}

