{% extends 'base_home.html' %}
{% load staticfiles %}
{% load i18n admin_static %}
{% block title %}Login{% endblock %}


{% block content %}
  <!-- Wide card with share menu button -->
  <style>
    .demo-card-wide.mdl-card {
      width: 100%;
    }
    .demo-card-wide > .mdl-card__title {
      color: #000;
      height: 60px;
      border-bottom: 1px solid #e5e5e5;
    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
  </style>

  <div style="max-width:400px; margin:0 auto; padding:60px 10px;">
    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">로그인</h2>
        </div>
        <div class="mdl-card__supporting-text" style="text-align:center;">
          {% if form.errors and not form.non_field_errors %}
            <p class="errornote">
              {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
          {% endif %}

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <p class="errornote">
                {{ error }}
              </p>
            {% endfor %}
          {% endif %}

          <a id="tt1" href="{% url 'accounts:registration' %}" style="color:gray;">가입하기</a> / <a id="tt2" href="{% url 'accounts:password_reset' %}" style="color:gray;">비밀번호 찾기</a>
          <div class="mdl-tooltip" for="tt1">보캣에 가입하기</div>
          <div class="mdl-tooltip" for="tt2">비밀번호 초기화 링크가 갑니다.</div>

          <div id="content-main">
            {% if user.is_authenticated %}
              <p class="errornote">
                {% blocktrans trimmed with username=request.user.username %}
                  You are authenticated as {{ username }}, but are not authorized to
                  access this page. Would you like to login to a different account?
                {% endblocktrans %}
              </p>
            {% endif %}

            {{ form.username.errors }}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

              <input id="id_username" maxlength="254" name="username" type="email" class="mdl-textfield__input">
              <label class="mdl-textfield__label" for="id_username">이메일 주소</label>
            </div>
            {{ form.password.errors }}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="id_password" pattern=".{0}|.{8,}" title="최소 8 글자" name="password" type="password"  class="mdl-textfield__input">
              <label class="mdl-textfield__label" for="id_password">비밀번호</label>
              <input type="hidden" name="next" value="{{ next }}" />
            </div>

          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <button class="mdl-button mdl-js-button vocat-color--primary" type="submit" style="float:right;">
            로그인하기
          </button>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
          </button>
          <div class="fb-like" data-href="https://www.facebook.com/vocatapp/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    document.getElementById('id_username').focus()
  </script>
{% endblock %}



