{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <p>this is accounts/password_reset_complete.html</p>

    <div class="breadcrumbs">
    <a href="{% url 'accounts:home' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Password reset' %}
    </div>

    <h1>{{ title }}</h1>

    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
{% endblock %}
