{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <p>this is accounts/password_reset_form.html</p>

    <div class="breadcrumbs">
    <a href="{% url 'accounts:home' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Password reset' %}
    </div>

    <h1>{{ title }}</h1>

    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form method="post">{% csrf_token %}
    {{ form.email.errors }}
    <p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
    </form>
{% endblock %}
