{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <p>this is accounts/profile_detail.html</p>

    {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'accounts:logout' %}">{% trans 'Log out' %}</a>

    <div class="breadcrumbs">
    <a href="{% url 'accounts:home' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Profile Change' %}
    </div>

    <h1>{{ title }}</h1>

    <div id="content-main">
        <form method="post">{% csrf_token %}
        <div>
        {% if form.errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
            {{ form.errors }}
        {% endif %}

        <p>{% trans "Please fill out the form to change the profile." %}</p>

        <fieldset class="module aligned wide">
            {{ form.as_p }}
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="{% trans 'Change Profile' %}" class="default" />
        </div>

        </div>
        </form>
    </div>

    <div class="profile-link">
        <a href="{% url 'accounts:profile_detail' %}">{% trans 'Back to Profile' %}</a>
    </div>

{% endblock %}
