{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <p>this is accounts/profile_detail.html</p>

    {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'accounts:logout' %}">{% trans 'Log out' %}</a>

    <div class="breadcrumbs">
    <a href="{% url 'accounts:home' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Profile' %}
    </div>

    <h1>{{ title }}</h1>

    {{ data }}
    <br>
    {% for field, value in data.items %}
        <p>{{ field }} = {{ value }}</p>
    {% endfor %}

    <div class="profile-change-link">
        <a href="{% url 'accounts:profile_change' %}">{% trans 'Want to Change Profile?' %}</a>
    </div>

{% endblock %}
