{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'accounts:login' %}">{% trans 'Log in' %}</a>

    <div class="breadcrumbs">
    <a href="{% url 'accounts:home' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Registration' %}
    </div>
    <h1>{{ title }}</h1>
    <p>{% trans 'Thank you for joining Vocat. Your account has been registratered.' %}</p>
    <div class="login-link">
        <a href="{% url 'accounts:login' %}">{% trans 'Now, you may login.' %}</a>
    </div>
{% endblock %}
