.vocat-bg--primary{
    background-color: #004892 !important;
}
.vocat-bg-primary-light{
    background-color: #BFD1E3 !important;
}
.vocat-bg--primary-dark{
    background-color: #00366D !important;
}
.vocat-bg--accent{
    background-color: #FF4081 !important;
}
.vocat-bg-accent-light{
    background-color: #FF80AB !important;
}
.vocat-bg--accent-dark{
    background-color: #F50057 !important;
}

.vocat-color--primary{
    color: #004892 !important;
}
.vocat-color-primary-light{
    color: #BFD1E3 !important;
}
.vocat-color--primary-dark{
    color: #00366D !important;
}
.vocat-color--accent{
    color: #FF4081 !important;
}
.vocat-color-accent-light{
    color: #FF80AB !important;
}
.vocat-color--accent-dark{
    color: #F50057 !important;
}